.relative {
  position: relative;
}

#lottery {
  position: relative;
  background-color: black;
  /*
  height: 100vh;
  min-height: 512px;
  */
  overflow: hidden;
}

#lottery .lottery-bg {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;  
}

#lottery .lottery-prize_amount {
  font-size: 48px;
  color: #feca2d;
}

#lottery .lottery-prize_text {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.countdown-wrapper ul {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

.countdown-wrapper li {
  display: inline-block;
  list-style-type: none;
  padding: 0.25rem;
  font-size: 0.875rem;
  width: 20%;
  color: #fff;
  text-align: center;
}

.countdown-wrapper li span {
  display: block;
  width: fit-content;
  min-width: 32px;
  height: 40px;
  background-color: white;
  color: black;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin: auto;
  margin-bottom: 0.5rem;
}

section#how-to-enter {
  background: lightgray;
}
